

/*Define a fonte do corpo de texto
/Define imagem para o fundo da página*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1618519764620-7403abdbdfe9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fGNvbWljJTIwYm9va3N8ZW58MHx8fHwxNjUzNDk5MTEz&ixlib=rb-1.2.1&q=80&w=2000);
}

 /*
   Define a largura, centraliza o formulário na página, adiciona padding, cor de fundo,
   bordas arredondadas */

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*Define o rótulo como um bloco e adiciona margens para espaçamento. */*/
label {
    display: block;
    margin: 10px 0 5px;
}

/* Define estilo para os campos de entrada de texto, número, telefone, e-mail, 
   e para caixas de seleção*/
   
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

/*Adiciona uma margem à direita para separá-las do texto adjacente*/

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

/*A classe alinhar define que os elementos com essa classe serão exibidos em linha
e terão uma margem à direita.*/

/* "." é para declarar uma variável */

.alinhar { 
    display: inline-block;
    margin-right: 20px;
}

.alinhar label {
    display: inline;
}


/* Estilo para o elemento <span>
   Define a cor, tamanho da fonte e espaçamento
   O campo inicialmente é invisível, usado para exibir mensagens de erro ou aviso. */

span {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
    visibility: hidden; 
}


/* Classe para campos do formulário:
   Define um espaçamento inferior adicional entre os campos*/

.campos {
    margin-bottom: 15px;
}

   /*Estilo para o elemento <button>
   Define a cor de fundo, cor do texto, bordas arredondadas, cursor pointer e aumenta o tamanho da fonte*/

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/*Estilo do botão ao passar o mouse por cima:
 Muda a cor de fundo para um tom de azul  */
button:hover {
    background-color: #0056b3;
}

/* Estilo para dispositivos com largura de tela menor que 600px:
   Reduz o padding do formulário e define que o botão ocupa toda a largura disponível. */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    button {
        width: 100%;
    }
}