body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1618519764620-7403abdbdfe9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fGNvbWljJTIwYm9va3N8ZW58MHx8fHwxNjUzNDk5MTEz&ixlib=rb-1.2.1&q=80&w=2000);
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

.inline {
    display: inline-block;
    margin-right: 20px;
}

.inline label {
    display: inline;
}

span {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
    visibility: hidden; /* Inicialmente oculto */
}

.form-group {
    margin-bottom: 15px;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    button {
        width: 100%;
    }
}